<div class="container">
  <div class="row mt-3">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a href="/demo/new">
            <img src="http://placehold.it/800x400" alt="" class="img-fluid">
          </a>
          <blockquote class="blockquote">
            <p>Our app is available on any mobile device! Download now to get started!</p>
            <footer class="card-blockquote">Footer<cite title="Source title"> Nguyen Nam</cite></footer>
          </blockquote>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a href="/demo/new">
            <img src="http://placehold.it/800x400" alt="" class="img-fluid">
          </a>
          <blockquote class="blockquote">
            <p>Our app is available on any mobile device! Download now to get started!</p>
            <footer class="card-blockquote">Footer<cite title="Source title"> Nguyen Nam</cite></footer>
          </blockquote>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a href="/demo/new">
            <img src="http://placehold.it/800x400" alt="" class="img-fluid">
          </a>
          <blockquote class="blockquote">
            <p>Our app is available on any mobile device! Download now to get started!</p>
            <footer class="card-blockquote">Footer<cite title="Source title"> Nguyen Nam</cite></footer>
          </blockquote>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a href="/demo/new">
            <img src="http://placehold.it/800x400" alt="" class="img-fluid">
          </a>
          <blockquote class="blockquote">
            <p>Our app is available on any mobile device! Download now to get started!</p>
            <footer class="card-blockquote">Footer<cite title="Source title"> Nguyen Nam</cite></footer>
          </blockquote>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a href="/demo/new">
            <img src="http://placehold.it/800x400" alt="" class="img-fluid">
          </a>
          <blockquote class="blockquote">
            <p>Our app is available on any mobile device! Download now to get started!</p>
            <footer class="card-blockquote">Footer<cite title="Source title"> Nguyen Nam</cite></footer>
          </blockquote>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a href="/demo/new">
            <img src="http://placehold.it/800x400" alt="" class="img-fluid">
          </a>
          <blockquote class="blockquote">
            <p>Our app is available on any mobile device! Download now to get started!</p>
            <footer class="card-blockquote">Footer<cite title="Source title"> Nguyen Nam</cite></footer>
          </blockquote>
        </div>
      </div>
      <hr>
    </div>

  </div>
</div>